# Flutter
build/
*.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
*.iml

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
web/firebase-config.js
firebase_options

# Credenciales específicas
.env
*.key
*.pem
*.p12
*.keystore

# Archivos de configuración personalizados
config/
secrets/
keys/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp
